body {
  background-color: #121617;
}

.imgBox-services {
  width: 60%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.cardFood-img {
  width: 250px;
  height: 150px;
  background-size: cover;
  transition: .3s;
}
.cardFood-img:hover {
  transform: scale(1.1);
  color: rgb(255, 86, 24);
}
.footer{
  background-color: #121617;
}
.list-foods-modal{
  height: 300px;
  transform: scaleY();
}
.modalOrder{
  color: black !important;
  backdrop-filter: blur(2px);
}

.indecator{
  background-color: orange !important;
  display: flex;
  justify-content: center;
  align-items: center;
}